
<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="Грузго, groozgo, грузго, Groozgo, грузгоу" />
</head>
<body>
<form method="post" action="/get_price/" id="price-form">
    {% csrf_token %}
    <input type="text" id="id-address-from" name="address-from">
    <input type="text" id="id-address-to" name="address-to">
    <input type="text" id="price" value="0">
    <input type="button" id="get-price" value="Расчитать" onclick="return getPrice();">
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script>
    function getPrice() {
         var form = $('#price-form').ajaxSubmit({ /* options */ });

    var xhr = form.data('jqxhr');

    xhr.done(function(data) {
        $('#price').val(data['price']);
    });

    return false;
    }
</script>
</body>
</html>
